@charset "UTF-8";
:root{
    --cor-principal: #ff0000;
    --cor-principal-escura: #8b0000;
    --fundo: #f7f7f7;
    --fundo-2: #ffffff;
    --texto: #000000;
    --subtitulo: rgba(0, 0, 0, .2);
    --onda: url(../d004/img/onda-clara.svg)
}



@media (prefers-color-scheme: dark){
    :root{
        --cor-principal: #ff0000;
        --cor-principal-escura: #8b0000;
        --fundo: #111111;
        --fundo-2: #000000;
        --texto: #ffffff;
        --subtitulo: rgba(255, 255, 255, 0.2);
        --onda: url(../d004/img/onda-escura.svg)
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto);
}

p{
    font-size: 1.25rem;
    line-height: 1.2
}

a{
    text-decoration: none;
    color: var(--texto);
}

p, a, h1 ,h2 ,h3, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    display: grid;
    justify-items: center;
    gap: 3.75rem;
    margin-top: 3.75rem;
}
.menu-item{
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu-item a{
    background-color: var( --fundo-2);
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid var( --fundo-2);
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.menu-item a:hover{
    border-color: var(--cor-principal);
}

.foto{
    max-width: 100%;
    display: block;
}


.cover img{
    object-fit: cover;
    height: 100%;
    object-position: left right;
}
.cabecalho{
    display: grid;
    gap: 3.75rem;
    justify-items: center;
}


.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

.info{
    background-color: var( --fundo-2);
    padding: 40px;
    display: grid;
    text-align: right;
    align-items: center;
    justify-items: right;
    position: relative;
}

.info::before{
    content: "";
    background-color: var(--cor-principal);
    height: 4px;
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: -30px;
    z-index: 1;

}

.info h2{
    font-size: 2rem;
}

.botao{
    background-color: var(--cor-principal);
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 5px;
    display: inline-block;
}

.botao:hover{
    background-color: var(--cor-principal-escura);
}

.subtitulo{
    color: var(--subtitulo);
    font-size: 4rem;
    text-align: right;
    padding: 40px;
    align-self: center;
    background-image: var(--onda);
    text-transform: uppercase;
    word-wrap: break-word;
}



.vantagens{
    background-color: var( --fundo-2);
    padding: 40px;
}

.vantagens-items{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-left: 4px solid var( --fundo-2);
}

.vantagens-items:hover{
    border-color: var(--cor-principal);
}
.vantagens-items p{
    grid-column: 2;
}

.vantagens-items:nth-child(odd){
    background-color: var(--fundo);
}

footer{
    background-color: var( --fundo-2);
    padding: 20px;
    text-align: center;
    width: 97.4%;
}

footer a{
    text-decoration: underline;
}

@media (max-width: 959px) {
    .conteudo02 {
      grid-template-columns: 1fr;
    }
    .subtitulo{
        text-align: center;
    }
  }

  @media (max-width: 600px) {
    .subtitulo{
        font-size: 3rem;
    }
    .info{
        text-align: left;
        justify-items: flex-start;
        gap: 5px;
    }
    .conteudo{
        grid-template-columns: 1fr;
    }
    .info::before{
        display: none;
    }
    .cabecalho{
        gap: 1.87rem;
    }
    body{
        gap: 1.87rem;
        margin-top: 1.87rem;
    }
  }

  @media (max-width: 400px){
    .subtitulo{
        font-size: 2rem;
    }
    .vantagens{
        font-size: 1rem;
        padding: 10px;
    }
  }